{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- block title -->
    <title>
        {% block title %}Commerce{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/mvp.css" %}?version=1|">
    <link rel="stylesheet" href="{% static "css/styles.css" %}?version=1">
</head>
<body>
    <!-- NavBar -->
    <header>
        <nav>
            <!-- Brand -->
            <a href="{% url 'index' %}">
                <h1>Commerce</h1>
            </a>
            <!-- Menue -->
            <ul>
                <li><a href="{% url 'listing' %}">Listing</a></li>
                <li><a href="{% url 'categories' %}">Categories</a></li>
                <!-- Authenticated User Menue -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'add_auction' %}">Add Auction</a></li>
                    <!-- User Profile -->
                    <li>
                        <a href="{% url 'userprofile' %}">{{ user.first_name }}'s Profile</a>
                        <!-- User Profile DropDown Menue -->
                        <ul>
                            <!-- LogOut Button -->
                            <li>
                                <form action="{% url 'logout' %}" method="post" style="all: unset;">
                                    {% csrf_token %}
                                    <button>LogOut</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                <!-- Anonymos User Menue -->
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">LogIn</a>
                        &VerticalSeparator;
                        <a href="{% url 'register' %}">register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <!-- Alert (Messages) With Custom CSS -->
        {% include 'alert.html' %}

    </header>

    <!-- Content Block -->
    <main>
        {% block content %}{% endblock content %}
    </main>

    <!-- Footer -->
    <footer>
        <p>
            <small>
                <address>Written by <a href="mailto:amirsalehi1382@outlook.com">Amir Salehi</a></address>
            </small>
        </p>
    </footer>
</body>
</html>