{% extends 'base.html' %}

<!-- Title Block -->
{% block title %}
    {{ block.super }}: Index
{% endblock title %}{{ block.super }}

<!-- Content Block -->
{% block content %}
    <section>
        <!-- Active Listing Title -->
        <header><h2>Active Listing</h2></header>

        <!-- Active Listing Cards -->
        {% for auction in auctions %}
            {% include 'auction-card.html' %}
        <!-- No Auction -->
        {% empty %}
            <blockquote>
                There's No Active Listing Yet
                <br>
                Come Visit Us Later
            </blockquote>
        {% endfor %}

        <!-- More Auctions -->
        {% if auctions|length < auctions_count %}
        <a href="{% url 'listing' %}?status=A">
            <h1>See More!</h1>
        </a>
        {% endif %}


    </section>
{% endblock content %}