{% extends 'base.html' %}

{% block title %}
  {{ block.super }}: Listing
{% endblock title %}

{% block content %}
<section class="listing-container">
  
  <!-- Auction Cards Section -->
  <section class="listing-container__cards">
    <!-- Auction Cards -->
    {% for auction in page %}
      {% include 'auction-card.html' %}
    <!-- No Auction -->
    {% empty %}
      <blockquote>
        Your Requested Listing Not Found!
      </blockquote>
    {% endfor %}
  </section>

  <!-- Filter Form Section -->
  <section class="listing-container__filter">
    <form action="" method="get">
      <!-- Query Parameters Preservation -->
      {% for key, value in request.GET.items %}
      <!-- Prevents Query Parameters Duplication -->
        {% if key not in form.fields %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
      {% endfor %}
      <!-- Filter Forms -->
      {{ form.as_p }}
      <button type="submit">Filter</button>
    </form>
  </section>

</section>

<!-- Pagination -->
<footer>
  {% include 'pagination.html' %}
</footer>

{% endblock %}