<hr>
<p class="pagination-text">
    <!-- Previous Page -->
    {% if page.has_previous %}
    <a href="{% querystring page=page.previous_page_number per_page_number=page.paginator.per_page %}">
        &larr; prev
    </a>
    &nbsp; &nbsp; &nbsp;
    {% endif %}

    <!-- Page Numbers -->
    {% for i in page.paginator.page_range %}
    &nbsp;
    <!-- Makes Current Page Red -->
    {% if i == page.number %}
    <b class="pagination-current">{{ i }}</b>
    {% else %}
    <a href="{% querystring page=i per_page_number=page.paginator.per_page %}">
        {{ i }}
    </a>
    {% endif %}
    {% endfor %}

    <!-- Next Page -->
    {% if page.has_next %}
    &nbsp; &nbsp; &nbsp;
    <a href="{% querystring page=page.next_page_number per_page_number=page.paginator.per_page %}">
        Next &rarr;
    </a>
    {% endif %}

    <!-- Items Per Page Form -->
<form action="" method="get" class="pagination-form">
    <!-- Preserve Query Parameters -->
    {% for key, value in request.GET.items %}
    <!-- Prevents Query Parameters Duplication -->
    {% if key != "per_page_number" %}
    <input type="text" hidden name="{{ key }}" value="{{ value }}">
    {% endif %}
    {% endfor %}
    <!-- Items Per Page Input -->
    <label for="per_page_number">Items per page:</label> &nbsp;
    <input type="number" name="per_page_number" id="per_page_number" value="{{ page.paginator.per_page }}" min="1"
        max="{{ page.paginator.count }}" onchange="this.form.submit();">
</form>
</p>